@import url("http://fonts.googleapis.com/css?family=Raleway|Lato:400,700|Leckerli+One");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
a {
  color: #0187c5;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}
#menu {
  background: linear-gradient(#e31b23, #b32024);
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  display: table;
  text-align: center;
}
#menu form {
  padding: 0.5em;
}
#menu form > div {
  display: inline-block;
}
#menu form input,
#menu form select,
#menu form button {
  box-sizing: border-box;
  height: 1.8em;
}
#menu form label {
  font-weight: bold;
  margin: 0 0.5em;
  color: #fff;
  text-align: left;
  vertical-align: baseline;
}
#menu form input {
  width: 65px;
  padding: 0.2em;
  text-align: center;
}
#menu form input[name="limit"] {
  width: 5ch;
}
#menu form select {
  width: 55px;
}
#menu form button {
  margin-left: 0.8em;
}
#header h1 {
  margin-top: 1.2em;
  font-family: 'Leckerli One';
  font-size: 4em;
  color: #e31b23;
  margin-bottom: 0;
  padding-bottom: 0;
/*
    background linear-gradient($red1, $red2)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    */
}
#header p {
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  color: #666;
}
#content #label {
  height: 1em;
  margin-bottom: 0.8em;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
#content #loader {
  margin-top: -10px;
  height: 30px;
}
#content #loader svg rect {
  fill: #0187c5;
}
#content #graph {
  background: #e3e3e3;
  box-shadow: inset 0px 0px 2em #666;
  height: 500px;
}
#content #graph svg {
  background: #fff;
  shape-rendering: optimizeSpeed;
}
#content #graph svg .stream {
  /*stroke: #fff;
  stroke-width: 1px;*/
}
#content #graph svg .blur {
  opacity: 0.2;
}
#content #graph svg .axis path,
#content #graph svg .axis line {
  stroke: #0187c5;
  stroke-width: 6px;
}
#content #graph svg .line {
  fill: none;
  stroke: #0187c5;
  stroke-width: 2px;
}
#content #graph svg .tick text {
  font-size: 16px;
  font-weight: 700;
}
#content #graph svg .tick line {
  opacity: 0.2;
}
#content #graph svg .slider-container {
  fill: #c3c3c3;
}
#content #graph svg .slider-brush {
  fill: #b32024;
}
#footer {
  display: table-row;
  color: #666;
}
