body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#nav {
  display: table;
}

form {
  display: table;
  margin: 1em;
  line-height: 21pt;
}

div.group {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.parameters {
  border: 8px solid #5fc3e4;
  border-right: 0;
}

div.cell {
  padding: 1em;
}

#parameters\.user\.limit label {
  width: 90px;
}

#parameters\.from\.to label {
  width: 50px;
}

select, input {
  border: 1px solid #5fc3e4;
  padding: 2pt;
  box-sizing: border-box;
  vertical-align: text-bottom;
}

select {
  width: 70px;
}

input {
  width: 8em;
}

label {
  text-align: left;
  font-weight: 800;
  font-size: 11pt;
  display: block;
}

button {
  color: #fff;
  font-weight: 800;
  font-size: 32pt;
  height: 160px;
  width: 160px;
  background-color: #5FC3E4;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  outline: none;
}

button:hover {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
}

button:active {
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  border-right: 0;
}

#graph {
  height: 600px;
  background: #eee;
  overflow-y: hidden;
  overflow-x: auto;
}

svg {
  background-color: #fff;
}

.axis path, .axis line {
  stroke: #5fc3e4;
  stroke-width: 4px;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.tick text {
  font-weight: 800;
  font-size: 16px;
}

.tick line {
  opacity: 0.2;
}