<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>last.fm Streamgraph</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>
  <div class="wrapper">
    <div id="menu">
      <form action="" id="">
        <div>
          <label for="">Username:</label>
          <input type="text" />
          <label for="limit">Minimum plays:</label>
          <input type="text" name="limit" />
        </div>
        <div>
          <label for="">From:</label>
          <select name='options'><option value="">2015</option></select>
          <select name='options'><option value="">Mar</option></select>
          <select name='options'><option value="">01</option></select>
          <label for="">To:</label>
          <select name='options'><option value="">2015</option></select>
          <select name='options'><option value="">May</option></select>
          <select name='options'><option value="">01</option></select>
          <button type="submit">Go!</button>
        </div>
      </form>
    </div>
    <div id="header">
      <h1>last.fm streamgraph</h1>
      <p>by <a href="http://dstrekelj.github.io">Domagoj Štrekelj</a></p>
    </div>
    <div id="content">
      <div id="graph" class="box">
        <svg></svg>
      </div>
      <div id="loader" class="box">
        <svg></svg>
      </div>
    </div>
  </div>
</body>
</html>